:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.page-footer {
  background-color: #f60069;
  color: #ffffff;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}