<nav>
  <div class="nav-wrapper">
    <a routerLink="" data-target="mobile-sidenav" class="sidenav-trigger hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="{{ Paths.HOME_PAGE }}"><b>INÍCIO</b></a></li>
      <li><a routerLink="{{ Paths.REGISTRATION_PAGE }}"><b>CADASTRAR TAREFAS</b></a></li>
      <li><a routerLink="{{ Paths.LISTING_PAGE }}"><b>LISTAR TAREFAS</b></a></li>
    </ul>

    <a href="#" class="brand-logo center">
      <img src="./assets/images/logo-leal-to-do-list.png" alt="Leal" width="98" height="71">
    </a>
  </div>
</nav>

<ul id="mobile-sidenav" class="sidenav">
  <li><a routerLink="{{ Paths.HOME_PAGE }}"><b>INÍCIO</b></a></li>
  <li><a routerLink= "{{ Paths.REGISTRATION_PAGE }}" ><b>CADASTRAR TAREFAS</b></a></li>
  <li><a routerLink="{{ Paths.LISTING_PAGE }}"><b>LISTAR TAREFAS</b></a></li>
</ul>