nav {
    background-color: #F60069;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.display-time{
    position: absolute;
    right: 01rem;
    z-index: 3;
}

.display-icon-time{
    position: absolute;
    right: 04rem;
    z-index: 3;
}