.bg {
  top: 0;
  left: 0;
  position: absolute;
  background-position: center;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}