<nav>
  <div class="nav-wrapper">
    <!-- Exibir uma imagem como ícone no lugar da palavra "menu" -->
    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger hide-on-large-only">
      <img src="./assets/images/menu-white.png" alt="Ícone" width="24" height="24">
    </a>
    
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">CADASTRAR TAREFAS</a></li>
      <li><a href="#">LISTAR TAREFAS</a></li>
    </ul>
    
    <a href="#" class="brand-logo center">
      <img src="./assets/images/logo-leal-to-do-list.png" alt="Leal" width="98" height="71">
    </a>
  </div>
</nav>


