<nav>
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger hide-on-large-only">
      <i class="material-icons">menu</i>
    </a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="registration">CADASTRAR TAREFAS</a></li>
      <li><a href="#">LISTAR TAREFAS</a></li>
    </ul>

    <a href="#" class="brand-logo center">
      <img src="./assets/images/logo-leal-to-do-list.png" alt="Leal" width="98" height="71">
    </a>
  </div>
</nav>

<ul id="mobile-sidenav" class="sidenav">
  <li><a routerLink="registration">CADASTRAR TAREFAS</a></li>
  <li><a href="#">LISTAR TAREFAS</a></li>
</ul>