:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.page-footer {
  background-color: #F60069;
  color: #ffffff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}